/* =MAIN-FUNCTIONS
==========================================*/

body {
	
	text-align: center;
	min-width: 820px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
	font-size: 12px;
	line-height: 16px;
	color: #343434;
}

.indent {
	text-indent: 30px;
}
.small {
	font-size: 10px;
}
.large {
	font-size: 14px;
}
.larger {
	font-size: 18px;
}


/* =LINKS
==========================================*/

a:link {
	color: #b20000; text-decoration: none;
}
a:visited {
	color: #b20090; text-decoration: none;
}
a:hover {
	color: #ff0000; text-decoration: underline;
}
a:active {
	color: #db9595; text-decoration: none;
}
a.white:link {
	color: #FFFFFF; text-decoration: none;
}
a.white:visited {
	color: #FFFFFF; text-decoration: none;
}
a.white:hover {
	color: #fffa7f; text-decoration: underline;
}
a.white:active {
	color: #c1c1c1; text-decoration: none;
}
a.menu_wt:link, a.menu_wt:visited {
	color: #ffffff;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(../images/menu_bullet1.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 15px;
	font-weight: bold;
}
a.menu_wt:hover, a.menu_wt:active {
	color: #cccccc;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(../images/menu_bullet2.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 15px;
	font-weight: bold;
}

/* =MENU
==========================================*/

@import url("menubar.css");


/* =HEADLINES-ETC 
==========================================*/

h1 {
	font-size: 24pt;
	font-family: "Arial Black", "Arial Bold", Arial;
	color: #343434;
	line-height: 30px;
}
h2 {
	font-family: "Arial Black", "Arial Bold", Arial;
	color: #343434;
	font-size: 20px;
	line-height: 22px;
}
.spaced {
	line-height: 18px;
}
.greynarrow {
	font-size: 14px;
	font-family: "Arial Narrow", Arial, sans-serif;
	color: #666666;
}
.giant {
	font-size: 24pt;
	font-family: "Arial Black", "Arial Bold", Arial;
	color: #343434;
	line-height: 30px;
}
.giant_tahoma {
	font-size: 28px;
	font-family: Tahoma, Arial;
}


/* =SPECIAL-FONTS
==========================================*/
/*designed by Christopher Ross*/

.bullet_line {
	list-style-image:  url(../images/bullet_line.gif);
	line-height: 20px;
}
.margin {
	margin-left: 10px;
}
.allcaps {
	text-transform: uppercase;
	font-weight: bold;
	color: #666666;
}
.blue {
	color: #4855a3;
}
.white {
	color: #FFFFFF;
}
.whitelrg_bld {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
.menu_wt {
	color: #ffffff;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(../images/menu_bullet1.gif);
	background-repeat: no-repeat;
}


/* =DIVISIONS
==========================================*/
#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#header {
	width: 100%;
	text-align: center;
}
#menuwrap {
	width: 750px;
	height: 26px;
	text-align: center;
	margin-top: 15px;
	margin-left:auto;
	margin-right:auto;
	background-color: #5f6bb4;
	background-image: url(../images/menu_back.gif);
	background-repeat: repeat-x;
}
#menuwrap #menumain {
	width: auto;
	text-align: center;
	margin-left: 22.5%;
	margin-right: auto;
}
#menuwrap #menuleft {
	width: 5px;
	height: 26px;
	float: left;
	background-color: #5f6bb4;
	background-image: url(../images/menu_lb.gif);
	background-repeat: no-repeat;
	background-position: bottom;	
}
#menuwrap #menuright {
	width: 5px;
	height: 26px;
	float: right;
	background-color: #5f6bb4;
	background-image: url(../images/menu_rb.gif);
	background-repeat: no-repeat;
	background-position: bottom;	
}

#content {
	width: 80%;
	text-align: left;
	margin-top: 15px;
	clear: both;
}

#redborder {
	padding: 6px;
	color: #666666;
	text-align: left;
	width: 85%;
	border: 1px solid #990000;
}

#footer {
	width: 75%;
	clear: both;
	background-image:  url(../images/css_greyfade.gif);
	background-repeat: repeat-x;
	text-align: center;
	font-size: 12px;
	padding: 6px;
	margin-top: 28px;
	font-style: italic;
	color: 979797;
}
.clear {
	clear: both;
}


/* =Old Stuff from Previous CSS
==========================================*/


A.nocolor_b:link {
   text-decoration : none; color: black;
}

A.nocolor:link {
   text-decoration : none; color: black;
}

A.nocolor_w:link {
   text-decoration : none; color: white;
}
.node-highlight {
    font-weight: bold;
}

.node-normal {
    font-weight: normal;
}

.phyletic-tree {
    text-align: left;
    background-color: #CCCCCC;
    font-family: sans-serif, serif;
}

.phyletic-tree .indent, * .indent {
    margin-left: 20px;
    display: block;
}

.phyletic-tree * .species {
    background-color: #DDDDDD;
    text-align: center;
}

.phyletic-category {
    background-color: #cccccc;
}

.phyletic-category * div {
    text-align: center;
    font-size: x-small;
    font-family: sans-serif, serif;
    margin: 0px;
    padding: 0px;
    border-width: 2px;
    border-style: hidden;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 26px;
}

.phyletic-category * td {
    margin: 0px;
    padding: 1px;
}

.phyletic-category * .BACT {
    border-color: #ff8800;
}

.phyletic-category * .ARCH {
    border-color: #5555ff;
}

.phyletic-category * .EUKA {
    border-color: #88ff00;
}

.phyletic-category * .OTHER {
    border-color: #ff0088;
}

.phyletic-category * .BACT_start {
    border-left-style: solid;
    border-color: #ff8800;
    width: 24px;
}

.phyletic-category * .BACT_end {
    border-right-style: solid;
    border-color: #ff8800;
    width: 24px;
}

.phyletic-category * .ARCH_start {
    border-left-style: solid;
    border-color: #5555ff;
    width: 24px;
}

.phyletic-category * .ARCH_end {
    border-right-style: solid;
    border-color: #5555ff;
    width: 24px;
}
.phyletic-category * .EUKA_start {
    border-left-style: solid;
    border-color: #88ff00;
    width: 24px;
}

.phyletic-category * .EUKA_end {
    border-right-style: solid;
    border-color: #88ff00;
    width: 24px;
}

.sequence {
    font-family: Courier New, monospace;
}

.announcebox {
    background: #FFFFFF url(../images/infobox.jpg) repeat-x scroll bottom;
    text-align: center;
    color:#093C8A;
    width: 740px;
    padding: 5px;
}

