h1 {
   font-style : normal; 
   font-weight : bold; 
   font-size : 14pt; 
   font-family : lucida sans unicode, lucida, Verdana, Tahoma, Arial, helvetica, sans-serif; 
   color : #326495; 
   text-align : left; 
   margin-top : 0.5cm; 
   margin-bottom : 0.1cm; 
   margin-left : 0.5cm;
   margin-right : 1cm;
}

.notice {
  text-decoration : none; color: red;
}

a.nocolor_b:link {
   text-decoration : none; color: black;
}

a.nocolor:link {
   text-decoration : none; color: black;
}

a.nocolor_w:link {
   text-decoration : none; color: white;
}
.node-highlight {
    font-weight: bold;
}

.node-normal {
    font-weight: normal;
}

.sequence {
    font-family: Courier New, monospace;
}

.phyletic-tree {
    text-align: left;
    background-color: white;
}

.phyletic-tree * table {
    margin: 0;
    padding: 0;
}

.phyletic-tree * .clade {
    white-space: nowrap;
    font-family: sans-serif, serif;
    font-size: small;
    text-align: left;
    vertical-align: middle;
}

.phyletic-tree .indent, * .indent {
    margin-left: 20px;
    display: block;
}

.phyletic-tree * .species-region {
    position: absolute;
    left: 500px;
}

.phyletic-tree * .species {
    background-color: #DDDDDD;
    width: 48px;
    white-space: nowrap;
    font-family: sans-serif, serif;
    font-size: small;
    text-align: left;
    vertical-align: middle;
}

.legend {
    font-size:x-small;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    white-space: nowrap;
    text-align: center;
}

.phyletic-category {
    background-color: #cccccc;
}

.phyletic-category * td {
    margin: 0px;
    padding: 0px;
}

.phyletic-category * .species {
    text-align: center;
    font-size: x-small;
    font-family: sans-serif, serif;
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    border-style: none;
    border-width: 2;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: dotted;
    border-right-width: 1px;
    width: 26px;
    white-space: nowrap;
    line-height: 130%;
}

.phyletic-category *[count="many"] { 
    color: white;
    background-color: black;
}

.phyletic-category *[count="1"] { 
    color: white;
    background-color: gray; 
}

.phyletic-category *[count="0"] { 
    color: black;
    background-color: white; 
}

.phyletic-category *[location="head"] { 
    border-left-style: solid;
    width: 25px;
}

.phyletic-category *[location="tail"] { 
    border-right-style: solid;
    border-right-width: 2px;
    width: 25px;
}

.phyletic-category *[location="head-tail"] { 
    border-left-style: solid;
    border-right-style: solid;
    border-right-width: 2px;
    width: 23px;
}

.phyletic-category *[index="0"] { border-color: #FF33cc; } /* BACT */
.phyletic-category *[index="1"] { border-color: #cc0000; } /* FIRM */
.phyletic-category *[index="2"] { border-color: #cc00ff; } /* PROT */
.phyletic-category *[index="3"] { border-color: #ff9900; } /* ARCH */
.phyletic-category *[index="4"] { border-color: #66ffff; } /* EUKA */
.phyletic-category *[index="5"] { border-color: #009933; } /* PLAL */
.phyletic-category *[index="6"] { border-color: #3399ff; } /* KINE */
.phyletic-category *[index="7"] { border-color: #3300cc; } /* ALVE */
.phyletic-category *[index="8"] { border-color: #ccff33; } /* FUNG */
.phyletic-category *[index="9"] { border-color: #33ff00; } /* META */

