.ReleaseSummary.ProteomeSummary {
  .SearchBoxContainer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0.25em;
  }

  .EmptyResourceVersion {
    color: gray;
  }
}
