.RestrictionView {
  width: 100vw;
  display: flex;
  min-height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;

  .RestrictionView-Body {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;

    h1 {
      text-align: center;
      margin: 5px auto;
      color: #883943;
      padding: 0;
    }
    .RestrictionView-Icon {
      font-size: 80px;
      color: #883943;
    }
    .RestrictionView-Message {

    }
  }
}
