@value hlColor: #923937;
@value bgColor: #85b3c3;

body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  text-rendering: optimizeLegibility;
  min-width: 0;
  font-size: 12px;
}

.wdk-PageContent {
  padding: 1em;
}

#header {
  height: 93px;
}

#header2 {
  background: bgColor;
  color: hlColor;
  height: 6.4em;
  min-width: 0;
}

#header_rt {
  position: relative;
}

#nav-top a,
#nav-top a:visited,
#nav-top a:link {
  color: hlColor;
}

.eupathdb-Menu,
#menu {
  height: 2.4em;
  background: bgColor;
  border: none;
  border-bottom: 1px solid #868686;
}

#menu #favorite-menu {
  float: left;
}

.eupathdb-MenuItem__favorites {
  float: none;
}

.sf-menu {
  background: bgColor;
  border: none;
  min-width: 0;
}

a.eupathdb-MenuItemText,
.eupathdb-MenuItemText,
.sf-menu a {
  border: none;
}

.sf-menu li:hover,
.sf-menu li li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  background: #e0e0e0;
  color: black;
}

.eupathdb-SmallMenuItem > a {
  color: hlColor;
}

.SiteName {
  font-style: italic;
  font-weight: bold;
  color: hlColor;
}

.WelcomeHeadline {
  font-size: 1.2em;
  padding: 1em 0em;
}

.Experiences {
  position: relative;
  padding-top: 1.6em;
}

.ExperienceTestimonial {
  position: absolute;
  bottom: 1.2em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.63);
  color: white;
  font-style: italic;
}

.ImagePlaceholder {
  background: lightgray;
  display: block;
  width: 100%;
}
.ImagePlaceholder:after {
  content: "Image here";
}

.WelcomeSectionHeader {
  color: hlColor;
  padding-top: 1.6em;
  font-size: 1.6em;
  font-weight: 400;
}

.SearchContainer {
  text-align: center;
}

.WelcomeBoxLink {
  background: bgColor;
  padding: 6px 0;
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

.Search {
  display: inline-block;
  text-align: center;
  width: 24%;
}

.SearchIcon {
  font-size: 5em;
  color: black;
}

.SearchIconCaption {
  color: black;
}

@media (min-width: 800px) {
  .eupathdb-PageContent.eupathdb-PageContent__welcome {
    margin: auto;
    padding: 1em 2em;
  }

  .WelcomeCenter {
    position: relative;
    padding-right: 400px;
    min-height: 220px;
  }

  .Experiences {
    position: absolute;
    top: 0;
    right: 50px;
    padding: 0;
  }

  .ImagePlaceholder {
    width: 300px;
  }

  .WelcomeBoxContainer {
    display: flex;
    justify-content: space-between;
  }

  .WelcomeBox {
    width: 30%;
    position: relative;
  }

  .WelcomeBoxLink {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.1em;
    margin: 0;
  }

  .Search {
    width: 40%;
    padding: 1em 0;
  }
}
