.PhyleticDistributionCheckbox {
  width: 45em;

  &--Node {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
  }

  .wdk-CheckboxTreeItem .wdk-CheckboxTreeNodeWrapper:hover {
    cursor: default;
    text-decoration: none;
  }
}
