/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =ABOUT page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div#about {
  font-size: 14px;
  color: #333;
  width: 70%;
  margin: auto;
}

div#about div {
  margin-left: auto;
  margin-right: auto;
}

div#about h1 {
  font-size: 2em;
  font-weight: 400;
}
div#about h2 {
  font-size: 1.6em;
  font-weight: 400;
}
div#about .question {
  font-weight: bold;
}

div#about .about-nav {
  text-align: right;
}

div#about .section-title {
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
}

div#about ul,
div#about ol {
  margin-left: 40px;
  padding: 0;
}

div#about li {
  padding: 0.5em 0;
}
