.group-layout {
  white-space: nowrap;
  overflow: visible;
}
.group-layout .data {
  display: none;
}

.group-layout fieldset {
  padding: 3px;
}
.group-layout fieldset legend {
  font-weight: bold;
}
.group-layout table {
  width: 100%;
}
.group-layout th,
.group-layout td {
  vertical-align: top;
}

.group-layout .tip {
  color: #555555;
  font-style: italic;
}
.group-layout .accordion h3 {
  font-weight: bold;
}
.group-layout .ui-accordion .ui-accordion-content {
  padding: 3px;
  overflow: hidden;
}
.group-layout .highlight,
.group-layout #node-detail .highlight,
.group-layout #node-list .highlight {
  background: #ffff99;
}

.group-layout > * {
  display: inline-block;
  vertical-align: top;
}

.group-layout .canvas {
  overflow: visible;
  margin: 2px;
  border: 1px solid #aaa;
}
.group-layout .canvas .background {
  fill: #f0fff0;
}
.group-layout .canvas line.edge {
  stroke-width: 1px;
}
.group-layout .canvas circle.node {
  stroke-width: 3px;
  cursor: pointer;
}
.group-layout .canvas text {
  font-weight: bold;
}
.group-layout .canvas text.shadow {
  stroke: white;
  stroke-width: 2.5px;
  opacity: 0.9;
}
.group-layout .canvas .ec-numbers,
.group-layout .canvas .pfams {
  display: none;
}
.group-layout .canvas .ec-numbers path,
.group-layout .canvas .pfams path {
  stroke: #aaaaaa;
  stroke-width: 0.8px;
}

.group-layout .controls {
  width: 300px;
  white-space: normal;
}
.group-layout .controls .sub-title {
  font-weight: bold;
  margin-top: 5px;
}
.group-layout .controls .control-section {
  border: 1px dotted #999999;
  margin: 2px;
  padding: 3px;
}

.group-layout .edge-control .evalue {
  margin: 5px;
}
.group-layout .edge-control .evalue-exp {
  width: 40px;
  height: 15px;
  font-weight: bold;
}

.group-layout .controls .edge-type {
  display: inline-block;
  width: 120px;
  margin: 3px;
  padding: 3px;
  border: 1px dotted gray;
}
.group-layout .controls .edge-legend {
  display: none;
  height: 2px;
  width: 15px;
  margin: 3px;
}
.group-layout .controls .edge-legend.Ortholog {
  background: gray;
}
.group-layout .controls .edge-legend.Coortholog {
  background: #0000ff;
}
.group-layout .controls .edge-legend.Inparalog {
  background: #00ff00;
}
.group-layout .controls .edge-legend.Normal {
  background: #ff0000;
}

.group-layout .node-control .control-section {
  max-height: 440px;
  overflow-y: auto;
}
.group-layout .controls .taxon-legend {
  display: inline-block;
  height: 7px;
  width: 7px;
  border: 3px solid;
  margin: 2px 0px 0px 2px;
  border-radius: 7px;
}
.group-layout .controls .taxon {
  display: inline-block;
  width: 80px;
  border: 1px dotted gray;
  padding: 1px;
  margin: 2px;
  white-space: nowrap;
  text-align: left;
}
.group-layout .controls .ec-number-control,
.group-layout .controls .pfam-control {
  display: none;
}
.group-layout .controls .ec-number-legend,
.group-layout .controls .pfam-legend {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  margin: 2px;
}
.group-layout .controls .ec-number,
.group-layout .controls .pfam {
  border: 1px dotted gray;
  display: inline-block;
  padding: 1px;
  margin: 2px;
  white-space: nowrap;
  text-align: left;
  width: 110px;
}

.group-layout .nodes-info {
  margin: 2px 0 0 0;
  width: 500px;
}
.group-layout .node-detail {
  white-space: normal;
  background: white;
}
.group-layout .node-detail .empty {
  color: #cccccc;
}
.group-layout .node-detail td,
.group-layout .node-detail th {
  border: 1px solid #666666;
}
.group-layout .node-detail th {
  background: #eeeeee;
}
.group-layout .node-detail .caption {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 5px 10px 5px;
}

.group-layout > .notes {
  display: block;
}
.group-layout .notes p {
  line-height: 2em;
}
