div.ai-summary-flex-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
}

div.ai-summary {
  flex: 1 1 50em;
  margin-left: 15px;
  max-width: 50em;

  p {
    ul {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  }
}

div.ai-disclaimer {
  flex: 1 1 15em;
  min-width: 15em;
  max-width: 50em;
  margin-bottom: 1em;

  details {
    summary {
      cursor: pointer;
      padding: 0.2em 0.4em;
      font-weight: bold;
    }
  }
}

a.javascript-link {
  cursor: grab;
}

.AiExpressionResult-Loading {
  text-align: center;
  padding: 0;
  margin-top: 3em;
  height: unset;
  max-width: 75px;
}

.ai-generated {
  .badge {
    float: right;
    background: #eef;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 0.8rem;
    color: #333;
  }
}

div.ai-topic-heading {
  margin-bottom: 0.5em;
  margin-right: 6em;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

ul.ai-topic {
  li {
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 6em;
  }
}
