.AllDatasets-SourceFilters {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    cursor: pointer;
    font-size: 110%;

    svg,
    img {
      width: 22px;
      height: 22px;
    }

    input[type='checkbox'] {
      cursor: pointer;
    }
  }
}
