/* This CSS adds the NEW or BETA icons next to the attribute name on record pages for specific items */

$icon-new: url('~@veupathdb/wdk-client/lib/Core/Style/images/new-feature.png');
$icon-beta: url('~@veupathdb/wdk-client/lib/Core/Style/images/beta2-30.png');

/* page item */
#Cellxgene {
  .wdk-CollapsibleSectionHeader:after {
    content: $icon-new;
    margin-left: 0.5ch;
  }
}

/* navigation item */
a.wdk-RecordNavigationItem#nav-Cellxgene:after {
  vertical-align: sub;
  margin-left: 0.5ch;
  content: $icon-new;
}

/* page item */
#ai_expression {
  .wdk-CollapsibleSectionHeader:after {
    width: 38px;
    height: 22px;
    margin-left: 1ch;
    content: $icon-beta;
  }
}

/* navigation item */
a.wdk-RecordNavigationItem#nav-ai_expression:after {
  vertical-align: sub;
  margin-left: 0.5ch;
  content: $icon-beta;
}

/* table heading */
div.HeadingCell-liverpool_ai_link,
div.HeadingCell-liverpool_ai_links {
  white-space: nowrap;

  &:after {
    vertical-align: sub;
    margin-left: 0.5ch;
    content: $icon-beta;
  }
}
