.ClusterGraphDisplayContainer {
  .Header {
    display: flex;
    align-items: center;

    .wdk-Icon {
      font-size: 1em;
      margin-left: 0.25em;
    }
  }

  .BackToGroupPageLink {
    font-size: 1.5em;
    margin-left: 3em;

    button.btn {
      background: #414c9b;
      color: white;
      border-bottom-color: #20264c;
    }
  }

  .Content {
    display: grid;
    grid-template-areas:
      "controls     canvas       information";
    grid-template-columns: 24em 700px 41.5em;
    gap: 0.25em;
  }
}
