name: Generate caches
on:
  push:
    branches:
      - main
    paths:
      - yarn.lock
jobs:
  # Cache yarn install command
  # See https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#example-using-the-cache-action
  cache-yarn:
    name: Generate yarn cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
      - run: yarn

