# Ensure that affected projects build without error for any pull request

name: CI
on: pull_request
permissions: read-all
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '24.11.0'
      - run: corepack enable
      - uses: actions/cache@v4
        with:
          path: |
            .yarn/cache
            .yarn/install-state.gz
            node_modules/.cache/nx
            packages/libs/*/lib
            packages/sites/*/lib
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}-${{ hashFiles('packages/libs/**/*', 'packages/sites/**/*', '!packages/**/lib/**', '!packages/**/node_modules/**') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}-
            ${{ runner.os }}-build-
      - uses: nrwl/nx-set-shas@v4
      - run: yarn
      - run: yarn nx affected --target=build-npm-modules --parallel=3 --verbose
      - run: yarn nx affected --target=compile:check --verbose
