@import '@veupathdb/web-common/lib/styles/breakpoints.scss';
@import '@veupathdb/web-common/lib/styles/default-layout.scss';
@import '@veupathdb/web-common/lib/styles/header.scss';
@import '@veupathdb/web-common/lib/styles/announcements.scss';
@import '@veupathdb/web-common/lib/styles/main.scss';
@import '@veupathdb/web-common/lib/styles/footer.scss';



  .vpdb-Header {
    background-image: url('~site/images/Header-backgrounds/header-orthoMCL.jpg');
    background-size: cover;
    background-position: center;
    z-index: 100;

    .vpdb-HeaderBranding {
      content: url('~site/images/Logos-web/orthomclDB.png');
    }

    @media screen and (min-width: $cramped-header-width + 1) {
      .vpdb-HeaderBranding {
       /* height: 5em;*/
      }
    }

    .wdk-CheckboxTreeNodeWrapper {
      position: relative;
    }
  }

